body {
    font-family: open sans;
    margin: 0px;
  }
  .header {
    padding: 0 45px 0 45px;
    background-color: #00b8d4;
  
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .navi {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
  }
  .navi li {
    margin-left: 20px;
    font-weight: bold;
  }
  .navi a {
    text-decoration: none;
    color: #283593;
    display: block;
  }
  .navi a:hover {
    color: lime;
    transform: rotate(6deg);
    transition: all 0.3s easeout;
  }
  h1 {
    color: #00c853;
    margin: 0;
    align-item: center;
  
    font-size: 2rem;
  }
  h2 {
    color: #283593;
    font-size: 2rem;
    margin: 0;
    padding: 0;
  }
  .hero {
    padding: 20px;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-column-gap: 5px;
  }
  .hero-inner {
    background-color: #b2ebf2;
  }
  img {
    border-radius: 70%;
  }
  .image {
    background-color: #b2ebf2;
    padding: 5px 30px;
  }
  .video {
    display: grid;
  
    grid-template-columns: 1fr 1fr;
    margin-left: 50px;
  }
  .fa {
    padding: 20px;
    font-size: 40px;
    width: 20px;
    text-align: center;
    text-decoration: none;
    margin: auto;
    align-items: center;
  }
  
  .fa:hover {
    opacity: 0.7;
  }
  
  .fa-facebook {
    background: green;
    color: white;
    border-radius: 70%;
  }
  
  .fa-twitter {
    background: magenta;
    color: white;
    border-radius: 70%;
  }
  
  .fa-linkedin {
    background: #283593;
    color: white;
    border-radius: 70%;
  }
  
  .fa-youtube {
    background: red;
    color: white;
    border-radius: 70%;
  }
  #footer {
    margin: 30px 20px;
    display: flex;
    background-color: cyan;
    align-items: center;
  }
  
  /* don't edit this */
  .jest-lite-report__status--pass {
    background: var(--color-pass);
  }
  .jest-lite-report__errors {
    display: none;
  }
  